[package]
name = "secsp_language_server"
version = "0.1.0"
authors = ["Gary Tierney <gary.tierney@gmx.com>"]
autobenches = false

[dependencies]
env_logger = "0.7"
futures = "0.1.28"
jsonrpc-core = "13.1"
jsonrpc-derive = "13.1"
log = "0.4"
serde = "1.0"
serde_json = "1.0"
secsp_analysis = { path = "../libsecsp-analysis"}
text_unit = "0.1"
tokio = "0.2.8"
tower-lsp = "0.3.1"

[[bin]]
path = "src/main.rs"
name = "secsp-language-server"
bench = false

[lib]
path = "src/lib.rs"
bench = false
